
<div style="text-align: center">
    <mat-toolbar color="primary" class="example-header">
      
          
        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space">
          Codiyaap
        </span>
        <span class="example-fill-remaining-space">
        <button mat-raised-button color="primary" type="button" routerLink="/register">
          Sign Up
        </button>
      </span>

   <span class="example-fill-remaining-space">
    <button mat-raised-button color="primary" type="button" routerLink="/layout">
       Dashboard
    </button>
   </span>
      
     
      </mat-toolbar>
    </div>
