<!--The content below is only a placeholder and can be replaced.-->

<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
            <div style="width: 180px;">
           <img id="image" src="{{env.myVarForImageURLS}}/Codiyaap.jpg">
            </div>
          <div>
            
          </div>
       <div>
            <button class="button"mat-raised-button color="primary" type="button" style="width:100%" routerLink="/signup">
                Recommendations
              </button>

              <button class="button"mat-raised-button color="primary" type="button" style="width:100%" routerLink="/signup">
                To be added
              </button>
              <button class="button"mat-raised-button color="primary" type="button" style="width:100%" routerLink="/signup">
                To be added
              </button>
           



              </div>
          </mat-drawer>
          <mat-drawer-content>
              
            <nz-table class="table" #basicTable >
                <thead>
            <tr>
                <th>Crop</th>
                <th>Yield_Capacity</th>
                <th>Demand</th>
                <th>Earning</th>
                <th>Link</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="todos$ | async as todos">
                   
                        <tr *ngFor="let todo of todos | paginate: { itemsPerPage: 10, currentPage: p }">
                          <td>{{todo.crop}}</td>
                          <td>{{todo.yield_capacity}}</td>
                          <td>{{todo.demand}}</td>
                          <td>{{todo.earning}}</td>
                          <td><a href="{{todo.link}}">link</a></td>
                        </tr>
                    
                     <nz-pagination [nzPageIndex]="1" [nzTotal]="50" (nzPageIndexChange)="p =$event"></nz-pagination> 
                 
            
                     </ng-container>
                      </tbody>
            
               
                
            
                    </nz-table>

                  
          

    
       <button class="button"mat-raised-button color="primary" type="button" style="width:10%;text-align: center" routerLink="/layout">Reload
                            </button>
                       </mat-drawer-content>
      
      </mat-drawer-container> 
 
    
    
    <router-outlet></router-outlet> 
    