<img class="image" src="{{env.myVarForImageURLS}}/vasant.jpg"> 
<div class="layout">

  <div class="centre">
   
    <button class="button1" mat-raised-button color="primary" routerLink="/register">SIGN UP</button>
  <button class="button2" mat-raised-button color="primary"routerLink="/login">SIGN IN</button></div>
  
  <div class="centre">
     
      
      <div class="example">
         
          <mat-form-field>
              <input class="input" matInput placeholder="User ID">
            </mat-form-field>
            <mat-form-field>
                <input class="input" matInput placeholder="Name">
              </mat-form-field>
              <mat-form-field>
                  <input class="input" matInput placeholder="Age">
                </mat-form-field>

              <mat-form-field>
                  <input class="input" matInput placeholder="Village">
                </mat-form-field>
          
                <mat-form-field>
                    <input class="input" matInput placeholder="District">
                </mat-form-field>
                <mat-form-field>
                    <input class="input" matInput placeholder="State">
                  </mat-form-field>
                  
          
               
                
                <mat-form-field>
                    <input class="input" matInput placeholder="Confirm your password" [type]="hide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </mat-form-field>
         
              
                
             
        </div>
     
    </div>
    <div class="button-div">
        <button class="button" mat-raised-button color="primary" routerLink="/login">Register</button>
      </div>
  </div>
  
